<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />

<body>
<!-- Static navbar -->
<div th:replace="common/header :: navbar"/>
<div>
    Welcome <b><span sec:authentication="name"> Username</span></b>
    &nbsp;
    <span sec:authentication="principal.authorities"> Roles </span>

    <div>Its page for admins to allow them page managing </div>
</div>

<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
